@import url(../global/global.css);

a{
    cursor: pointer;
}

button{
    background-color: transparent;
    border: none;
}

.hero {
    display: grid;
    grid-template-areas:
        "menu"
        "pagina-principal"
        "footer";
    grid-template-rows: auto 90vh auto;
}

.menu {
    grid-area: menu;
    display: grid;
    height: 10vh;
    background-color: var(--negro);
}

.menu-contenedor {
    display: grid;
    grid-template-areas:
        "titulo enlaces";
    align-items: center;
    justify-content: space-between;
    margin-left: 15vw;
    margin-right: 15vw;
}

.menu-titulo {
    grid-area: titulo;
}

.menu-contenedor .menu-titulo .menu__titulo {
    font-size: 1.8vw;
    font-weight: bold;
}

.menu-lista {
    grid-area: enlaces;
}

.menu-contenedor .menu-lista {
    display: flex;
}

.menu-contenedor .menu-titulo .menu__titulo {
    color: var(--blanco);
}

.menu-contenedor .menu-lista .menu__item {
    color: var(--blanco);
}

.menu-contenedor .menu-lista .menu__item a {
    font-size: 1.5vw;
    margin-left: 2vw;
    color: var(--blanco);
}

.menu-contenedor .menu-lista .menu__item a:hover{
    color: var(--pink);
}

.menu-contenedor .menu-lista .menu__item--active a {
    font-weight: bold;
    border-bottom: 1px solid var(--pink);
    color: var(--pink);
}

/* CONTENIDO PRINCIPAL */
.pagina-principal{
    grid-area: pagina-principal;
    margin-top: 5vh;
    margin-right: 10vw;
    margin-left: 10vw;
    margin-bottom: 5vh;
}

.principal-grilla{
    display: grid;
    grid-template-areas: 
    "titulo"
    "tabla";
    justify-content: center;
}

/* .tickets-grilla{
    height: 65vh;
    overflow-y: auto;
    overflow-x: hidden;
    display: grid;
    row-gap: 2vh;
    width: 65vw;
}

.tickets-grilla::-webkit-scrollbar {
    width: 10px;
    background-color:var(--pink);
    /* Tamaño del scroll en horizontal */
/* }

.tickets-grilla::-webkit-scrollbar-thumb {
    background-color: #191919;
}

.ticket{
    display: grid;
    grid-template-areas: 
    "titulo hora"
    "descripcion descripcion"
    "usuario usuario";
    background-color: rgb(255, 255, 255);
    border-radius: 0.5vw;
    width: auto;
    height: 20vh;
    padding: 1vw 2vw;
    color: var(--negro);
    align-items: center;
}

.ticket-titulo{
    grid-area: titulo;
    text-align: start;
}

.ticket-hora{
    display: grid;
    justify-content: end;
    grid-area: hora;
}

.ticket-descripcion{
    width: 60vw;
    grid-area: descripcion;
}

.ticket-hora{
    grid-area: hora;
} */ */

/*TABLA*/
/* Estilo para la tabla */
#tablaTickets{
    grid-area: tabla;
}
#tablaTickets {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
    font-family: Arial, sans-serif;
  }
  
  #tablaTickets th,
  #tablaTickets td {
    padding: 8px;
    text-align: left;
  }
  
  #tablaTickets th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  #tablaTickets tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  /* Estilo para la paginación */
  #paginationContainer {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #paginationContainer .pagination {
    display: inline-flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #paginationContainer .pagination li {
    margin: 0 5px;
  }
  
  #paginationContainer .pagination li a {
    display: inline-block;
    padding: 5px 10px;
    background-color: #f2f2f2;
    color: #333;
    text-decoration: none;
    border-radius: 3px;
  }
  
  #paginationContainer .pagination li a.active {
    background-color: #333;
    color: #fff;
  }
  
  /* Estilo para los botones de paginación */
.pagination-button {
    display: inline-block;
    padding: 8px 16px;
    background-color: #f1f1f1;
    color: #333;
    text-decoration: none;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .pagination-button:hover {
    background-color: #ddd;
  }
  
  .pagination-button.active {
    background-color: #333;
    color: #fff;
  }
  


/* CONTENIDO REDES */

.footer {
    grid-area: footer;
    display: grid;
    align-items: center;
    height: 10vh;
    background-color: var(--negro);
}

.contenido-redes {
    padding: 0 5vw;
    display: grid;
    justify-items: center;
    row-gap: 1vw;
}

.redes-texto p {
    color: var(--blanco);
    font-size: 0.9vw;
}

.redes-texto a {
    color: var(--blanco);
}