@import url(global/global.css);

a{
    cursor: pointer;
}

button{
    background-color: transparent;
    border: none;
}

.hero{
    display: grid;
    grid-template-areas: 
    "menu"
    "pagina-presentacion"
    "ola";
    grid-template-columns: 1fr;
    grid-template-rows: auto 60vh auto;
}

.ola{
    display: grid;
    grid-area: ola;
}


.pagina-presentacion{
    grid-area: pagina-presentacion;
    display: grid;
    justify-items: center;

}

.presentacion-grilla{
    display: grid;
    grid-template-areas: 
    "textos imagen"
    "botones imagen";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40vh 20vh;
    column-gap: 10vw;
    align-content: center;
}

.presentacion-imagen{
    display: grid;
    align-items: center;
    grid-area: imagen;
}

.presentacion__imagen{
    height: 50vh;
    width: auto;
}

.presentacion-textos{
    display: grid;
    align-content: center;
    grid-area: textos;
}

.presentacion__titulo{
    font-size: 7vw;
    line-height: 1;
}

.presentacion-botones{
    display: flex;
    align-items: center;
    justify-content: start;
    grid-area: botones;
    column-gap: 1vw;
}

.presentacion-botones a{
    text-align: center;
    padding: 0.7vw 2.5vw;
    border: 1px solid var(--pink);
    border-radius: 0.2vw;
    text-decoration: none;
    color: var(--negro);
}

.presentacion-botones a:hover{
    background-color: var(--pink);
}

.color-rosa{
    color: var(--pink);
}

.pagina-principal{
    grid-area: pagina-principal;
    display: grid;
    margin: 0vh 10vw;
    align-items: center;
}

/* CONTENIDO MENU */

.menu {
    grid-area: menu;
    display: grid;
    height: 10vh;
    justify-content: center;
}

.menu-contenedor {
    display: grid;
    grid-template-areas:
        "titulo enlaces";
    align-items: center;
    justify-content: space-between;
    width: 80vw;
    padding: 0vw 2vw;
    background-color: var(--pink);
    border-bottom-left-radius: 1vw;
    border-bottom-right-radius: 1vw;
}

.menu-titulo {
    grid-area: titulo;
}

.menu-contenedor .menu-titulo .menu__titulo {
    font-size: 2.2vw;
    font-weight: bold;
}

.menu-lista {
    grid-area: enlaces;
}

.menu-contenedor .menu-lista {
    display: flex;
}

.menu-contenedor .menu-titulo .menu__titulo {
    color: var(--negro);
}

.menu-contenedor .menu-lista .menu__item {
    color: var(--negro);
}

.menu-contenedor .menu-lista .menu__item a {
    font-size: 1.5vw;
    margin-left: 2vw;
    color: var(--negro);
}

.menu-contenedor .menu-lista .menu__item a:hover{
    color: var(--pink);
}


.menu__item--active a {
    font-weight: bold;
}


/* CONTENIDO REDES */

.footer {
    grid-area: footer;
    display: grid;
    align-items: center;
    height: 10vh;
    background-color: var(--negro);
}

.contenido-redes {
    padding: 0 5vw;
    display: grid;
    justify-items: center;
    row-gap: 1vw;
}

.redes-texto p {
    color: var(--blanco);
    font-size: 0.9vw;
}

.redes-texto a {
    color: var(--blanco);
}