@import url(global/global.css);


h3 {
    font-size: 1.5vw;
}


.hero {
    display: grid;
    grid-template-areas:
        "menu"
        "pagina-principal";
    grid-template-rows: auto 90vh;
}

.pagina-principal {
    grid-area: pagina-principal;
    margin-left: 10vw;
    margin-right: 10vw;
    display: grid;
    align-items: center;
}


.principal-grilla .container {
    display: grid;
    grid-template-areas: 
    "izquierda derecha";
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
}

.principal-grilla .container .izquierda{
    grid-area: izquierda;
}

.principal-grilla .container .izquierda .izquierda-grilla{
    display: flex;
    flex-wrap: wrap;
    row-gap: 3vh;
    column-gap: 2vw;
    height: 50vh;
}

.principal-grilla .container .derecha{
    grid-area: derecha;
}

.principal-grilla .container a {
    color: var(--negro);
    padding: 0.5vw 3vw;
    background-color: var(--pink);
    border-radius: 20px;
    cursor: pointer;
}

.principal-grilla .container select {
    width: 20vw;
    height: 5vh;
    border: transparent;
}



/* CONTENIDO MENU */

.menu {
    display: grid;
    height: 10vh;
    background-color: var(--negro);
}

.menu-contenedor {
    display: grid;
    grid-template-areas:
        "titulo enlaces";
    align-items: center;
    justify-content: space-between;
    margin-left: 15vw;
    margin-right: 15vw;
}

.menu-titulo {
    grid-area: titulo;
}

.menu-contenedor .menu-titulo .menu__titulo a {
    font-size: 1.8vw;
    font-weight: bold;
    color: var(--blanco);
    cursor: pointer;
}
